
.App{
    min-height: 100vh;
    height: fit-content;
    background-image: url("./abstract-envelope.svg");
    background-size: cover;
    background-repeat: repeat-y;
}

@media screen and (max-width:900px) {
    .App{
        background-repeat: repeat;
        background-size: cover;
        min-height: 100vh;
        height: fit-content;
    }
}